$line-color = #6d655e

center()
  top 50%
  left 50%
  transform translate(-50%, -50%)
// place()
//   lef
.hot 
  /* background-color: red; */
  height: 170px;
  margin: 14px 0;
.services 
  width: 234px;
  height: 100%;
  display flex
  flex-flow wrap
  background-color: #5F5A57;
.service
  color #ccc
  width: 78px;
  height: 50%;
  display flex
  justify-content: center
  align-items: center
  flex-flow column
  font-size: 0.8rem
  position relative
  .iconfont
    font-size 1.4rem
    color #ddd
    position relative
    display inline-flex
    .icon-F
      position absolute
      font-size: 0.8rem
      text-align center
      center()
      // margin auto
  .icon-phone1
    position relative
    font-size: 1.6rem
    left: 12%
    top 5%
  .icon-phone4
    position absolute
    center()
  .icon-repeat_
    .icon-phone1
      center()
      position absolute
      font-size: 0.8rem
  &.line-right::after
    content: ""
    position absolute
    height 70%
    width 1px
    right 0
    background-color $line-color
  &.line-top::before 
    content: ""
    position absolute
    height 1px
    width 70%
    top 0
    background-color $line-color

.service:hover
  color #fff
  & .iconfont
    color #fff
  // outline
.hot-product
  width: 316px;
  margin-right: 14px;

.hot-product:last-child
 margin-right: 0;

.hot-product img
  width: 100%;

