@import "style.css";
@import "../font/iconfont.css";
.hot {
/* background-color: red; */
  height: 170px;
  margin: 14px 0;
}
.services {
  width: 234px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  background-color: #5f5a57;
}
.service {
  color: #ccc;
  width: 78px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 0.8rem;
  position: relative;
}
.service .iconfont {
  font-size: 1.4rem;
  color: #ddd;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.service .iconfont .icon-F {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.service .icon-phone1 {
  position: relative;
  font-size: 1.6rem;
  left: 12%;
  top: 5%;
}
.service .icon-phone4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.service .icon-repeat_ .icon-phone1 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-size: 0.8rem;
}
.service.line-right::after {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  right: 0;
  background-color: #6d655e;
}
.service.line-top::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 70%;
  top: 0;
  background-color: #6d655e;
}
.service:hover {
  color: #fff;
}
.service:hover .iconfont {
  color: #fff;
}
.hot-product {
  width: 316px;
  margin-right: 14px;
}
.hot-product:last-child {
  margin-right: 0;
}
.hot-product img {
  width: 100%;
}
