:root {
  --primary-color: #F76704;
  --content-width: 1226px;
  --input-width: 244px;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
}
img{
  vertical-align: bottom;
}
ul {
  list-style: none;
  padding-block-start: 0;
  padding-inline-start: 0;
    -webkit-padding-start:0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.nav-title {
  /* font:  */
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.header {
  background-color: #333333;
  height: 42px;
}

.header nav {
  width: var(--content-width);
  margin: auto;
}
.header a {
  line-height: 42px;
  color: #aaa;
  font-size: 13px;
  padding-right: 10px;
}
.header a:hover {
  color: #fff;
}
/* header menu */
.nav-wrapper {
  width: 100%;
  position: relative;
}
.header-menu {
  margin: auto;
  width: 1226px;
  padding: 20px 0 0;
}
.logo{
  background-color: #F76704;
  text-align: center;
  width: 56px;
  height: 56px;
  display: block;
  float: left;
}
.logo::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.logo img {
  vertical-align: middle;
}
/* head menu */
.header-menu> ul {
  float: left;
  margin-left: 180px;
  list-style: none;
  height: 76px;
  padding-block-start: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
}
.header-menu>ul>li {
  float: right;
  height: 76px;
}
.header-menu>ul>li>a{
  line-height: 56px;
  padding: 16px;
  padding-right: 1em;
  padding-bottom: 36px;
  padding-left: 0;
  font-size: 1.0rem;
  color: #000;
}
.header-menu>ul>li>a:hover{
  color: #f76704;
}
/* slide down */

.xiaomi {
  /* position: relative; */
}
.xiaomi:hover .slide-down {
  display: block;
  height: 230px;
  border: solid 1px lightgray;
}
.slide-down {
  transition: height 0.2s  linear;
  overflow: hidden;
  width: 100vw;
  min-width: var(--content-width);
  height: 0;
  position: absolute;
  top: 96px;
  left: 0;
  background-color: #fff;
  border-left: none;
  border-right: none;
  z-index: 30;
  /* display: none; */
}
.slide-down-shadow {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: 2px 2px 10px 0 rgba(30, 30, 30, 0.3);
}
.slide-down-shadow-fix {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}
.slide-down-content {
  width: var(--content-width);
  margin: auto;
  height: 100%;
  position: relative;
  z-index: 100;
}
.slide-down-content li {
  float: left;
  width: 204px;
  height: 200px;
  /* border: solid 1px black; */
}
.slide-down-item {
  position: relative;
}
.slide-down-item a {
  display: block;
}
.product-new-logo {
  border: solid 1px var(--primary-color);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2em;
  padding: 0 1em;
  color: var(--primary-color);
}
.slide-down-item .product-image  {
  margin-top: 3em;
  border-right: solid 1px #ccc;
}
.slide-down-item:last-child .product-image  {
  margin-top: 3em;
  border-right: none;
}
.product-red-price {
  color: var(--primary-color);
}
/* only the xiaomi */
/* search */
.search {
  float:right;
  height: 50px;
  margin-left: 100px;
  margin-top: 3px;
  position: relative;
}
.search-input {
  border: solid 1px #E0E0E0;
  font-size: 16px;
  padding: 16px;
  width: var(--input-width);
  height: 50px;
  outline: none;
  position: absolute;
  top: 0;
  right: 50px;
}
.search-input:focus {
  border-color: var(--primary-color);
  caret-color: var(--primary-color);
}
.search-input:focus ~ .search-button {
  border-color: var(--primary-color);
}
.search-button {
  width: 50px;
  height: 100%;
  border: solid 1px #e0e0e0;
  border-left: none;
  text-align: center;
  line-height: 50px;
}
.search-button:hover {
  background-color: var(--primary-color);

}
.search-button:hover .search-icon {

  border-color: white;
}
.search-button:hover .search-icon::before
{
  background-color: white;
}
.search-input:focus ~ .search-hints {
  display: none;
}
/* search select list */
.search-candidates {
  position: absolute;
  width: var(--input-width);
  top: 50px;
  right: 50px;
  border: solid 1px var(--primary-color);
  border-top: none;
  display: none;
  background-color: #fff;
  z-index: 100;
}
.search-input:focus ~ .search-candidates {
  display: block;
}
.search-candidates li {
  font-size: 0.9em;
  padding: 0.4em 1em;
}
.search-candidates li:hover {
  background-color: #eee;

}
.search-candidate span:first-child {
float: left;
}
.search-candidate span:last-child {
float: right;
color: #aaa;
}
.search-hints {
  /* HACK: the max-content not supported in edge */
  /* width: max-content; */
  width: 200px;
  pointer-events: none;
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
}
.search-hint {
  pointer-events: bounding-box;
  cursor: pointer;
  float: right;
  margin: 0 5px;
  font-size: 0.8em;
  padding: 2px 4px;
  background-color: #EEEEEE;
  border-radius: 2px;
  color: #333;
}
.search-hint:hover {
  color: white;
  background-color: var(--primary-color);
}
.search-hint-1 {

}
.search-icon {
    display: inline-block;
      width: 16px;
      height: 16px;
      border:solid 2px #616161;
      border-radius: 50%;
      background-color: transparent;
      position: relative;
}
.search-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 4px;
  background-color: #616161;
  border-radius: 2px;
  top: 12px;
  left: 8px;
  transform: rotate(45deg);
}
/* main content */
.wrap {
  width: 100%;
  min-width: var(--content-width);
  background-color: #F5F5F5;
}
.container {
  margin: auto;
  width: 1226px;
}
.all-products {

  background-color: #F5F5F5;
}
/* menu area */
.menu-area {
  position: relative;
  margin: auto;
  width: var(--content-width);
  height: 460px;
}
.featured {
  height: 100%;
}
.featured img {
  width: 100%;
  height: 100%;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 234px;
  background-color:rgba(113, 103, 84, 0.78);
   /* rgba(0,0,0,0.3); */
   /* #5F5A57; */
  padding: 20px 0;
  /* opacity: 0.3; */
}
.menu-item {
  height: 42px;
  position: relative;
}
.menu-item a {
  padding-left: 28px;
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  /* font-size: 16px; */
  line-height: 42px;
}
.menu-item::after{
  position: absolute;
  content:  "⌃";
  color: white;
  font-size: 16px;
  display: block;
  top: 50%;
  transform: translateY(-50%) rotateZ(90deg);
  right: 32px;
}
.menu-item:hover {
  background-color: var(--primary-color);
}
.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 234px;
  height: 460px;
  width: 234px;
  background-color: #fff;
  border: solid 1px #eee;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.2);

}
.submenu:hover {
  display: block;
}

.menu-item:hover ~ .submenu{
  display: block;
}
.submenu-item {
  width: 248px;
  height: 76px;
  padding: 18px 10px;
}
.submenu-item a {
  display: block;
}
.submenu-item img {
  width: 40px;
  vertical-align: middle;
}
.item-name {
  vertical-align: middle;
  font-size: 14px;
  color: #000;
}
.submenu-phone {
  width: 248px;
}

/* hot */



.banner {
  width: 100%;
  min-width: var(--content-width);
  padding:  42px 0;
  background-color: #fff;
}
.banner img {
  width: 100%;
}
/* product area */
.product-area {
  background-color: #f5f5f5;
  padding: 20px 0px 44px;
}
.area-name {

}
.product-list {
  height: 614px;
}
.fiction {
  transition: ease-in-out 0.3s;
  position: relative;
  top: 0;
}
@keyframes promotion {

}
.fiction:hover {
  /* box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.3); */
  box-shadow: 
    3px 9px 18px rgba(30,30,30, 0.2),
    -3px 9px 18px rgba(30,30,30, 0.2);
  top: -3px;
}
ul {
  list-style: none;
  margin-block-start: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
}
.fl {
  float: left;
}

.fr {
  float: right;
}
.product-featured {
  width: 234px;
  margin-right: 14px;
}
.product-featured img {
  width: 100%;
}

.product-item {
  background-color: #fff;
  width: 234px;
  height: 300px;
  float: left;
  margin-right: 14px;
  margin-bottom: 14px;
}
.product-item:nth-child(4n) {
  margin-right: 0;
}
.product-discount{
  font-size: 12px;
  line-height: 22px;
  color: white;
  background-color: #E53935;
  display: inline-block;
  padding: 0px 5px;
  position: relative;
  left: 50%;
  top: 0;
  height: 20px;
  text-align: center;
  transform: translateX(-50%);
}
.product-discount:empty {
  padding: 0;
}
.product-image {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}
.product-image img {
  width: 70%;
}
.product-info {
  text-align: center;
}
.product-name {
  display: block;
  color: #000;
}
.product-desc {
  color: gray;
  padding: 0 1em;
  padding-bottom: 10px;
  white-space: nowrap;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-price span:first-child{
  color: var(--primary-color);
}

.product-price span:nth-child(2){
  color:  gray;
  text-decoration: line-through;
}

/* videos section */
.video {
  width: 296px;
  margin-right: 14px;
}
.video-cover {
  position: relative;
}
.video-cover:hover .play-button {

  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.video-cover img {
  width: 100%;
}
.video:last-child {
  margin-right: 0;
}
.play-button {
  width: 40px;
  height: 26px;
  border-radius: 13px;
  background-color: transparent;
  border: solid 2px white;
  position: absolute;
  bottom: 10px;
  left: 20px;
  transition: 0.3s;

}
.play-button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.play-button::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% + 3px);
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 14px;
  height: 14px; */
  border-radius: 2px;
  border-left: solid 7px white;
  border-top: solid 7px transparent;
  border-bottom: solid 7px transparent;
  border-right: solid 7px transparent;
}
.video-info {
  text-align: center;
  padding: 2rem 0;
}
.video-info a {

}
.subtitle {
  font-size: 14px;
  color: #B2B0B0;
}
/* footer */
.site-info {
  background-color: #fff;
}
.promises {

}
.promise {
  width: 245px;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-right: solid 1px lightgray;
}
.site-map {
  padding: 42px 0;
}
.site-city {
  width: 163px;
  /* height: 200px; */
  /* border: solid 1px #E0E0E0; */
}
.site-city-name {
  font-size: 14px;
  margin-bottom: 1rem;
}
.site-city li {
  color: gray;
  padding-top: 12px;
  font-size: 12px;
}
.contact-400 {
  width: 245px;
  border-left: solid 1px #E0E0E0;
  text-align: center;
}
.contact-button {
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  padding: 5px 15px;
}

/* info */
.mi-info {

}
.slogon {
  text-align: center;
  color: gray;
  padding: 1rem;
}
